#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
label
{
  border-radius: 5px;
  background-color: white;
  padding: 2px;
  margin-top: 10px;
  color: green;
}
body
{
  background-color: rgb(128, 0, 60);
}
#explanation
{
  color: white;
}
span
{
  color: white;
}
h4
{
  color: white;
}
button
{
  margin: 20px;
}